<!DOCTYPE html>
<html>
	<script src="{{url_for('static', filename='js/main.js')}}"></script>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
	<head>
		<title>LFR Dashboard</title>
		<!-- <link rel="stylesheet" type="text/css" href="css/MainPage.css"> -->
	</head>
	<body>
		<div class = "header">
			<h1>LFR Dashboard</h1>
		</div>
		<div class = "content">
			<div class = "card-grid"><!-- 1st row of cards -->
				<div class = "card">
					<p class = "card-title">Calibrating Sensor?</p>
					<p class = "card-value"><span id="calibratingSensor"></span></p>
				</div>
				<div class = "card">
					<p class = "card-title">Bot Running?</p>
					<p class = "card-value"><span id="botRunning"></span></p>
				</div>
				<div class = "card">
					<p class = "card-title">EDF Running?</p>
					<p class = "card-value"><span id="edfRunning"></span></p>
				</div>
			<div class = "card-grid"><!-- 2nd row of cards -->
				<div class = "card">
					<p class = "card-title">Main Battery Voltage</p>
					<p class = "card-value"><span id="mainBatVoltage"></span> V</p>
				</div>
				<div class = "card">
					<p class = "card-title">Fan Battery Voltage</p>
					<p class = "card-value"><span id="fanBatVoltage"></span> V</p>
				</div>
			</div>
		</div>
	</body>
</html>
